<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/color-style.css' />
      <link rel='stylesheet' href='/stylesheets/index-style.css' />

      <link rel='stylesheet' href='/stylesheets/grids.css' />
  </head>
  <body>

    <a href="/settings">
        <div class="settings-box shadow click-anim">
            <img src="/images/icons/settings.png" />
        </div>
    </a>

    <main>
        <div class="container">
            <h1>The Backlog</h1>

            <div class="category-box">
                <a href="/movie" class="shadow click-anim movie-header">
                    <div>Movies</div>
                </a>

                <a href="/series" class="shadow click-anim series-header">
                    <div>Series</div>
                </a>

                <a href="/game" class="shadow click-anim game-header">
                    <div>Games</div>
                </a>

                <a href="/book" class="shadow click-anim book-header">
                    <div>Books</div>
                </a>

                <a class="shadow audiobook-header">
                    <div>Audiobooks</div>
                </a>

                <a class="shadow record-header">
                    <div>Records</div>
                </a>
            </div>

            <div class="search-grid">
                <input type="text" class="search-box" placeholder="Search Movies" id="search">
                <button onclick="searching()" class="search-button shadow">Search</button>
                <script>
                    function searching() {
                        var term = document.getElementById('search').value;
                        window.location.href = '/get/' + term;
                    }
                </script>
            </div>

            <h2 class="up-titles">Recently Added</h2>
            <div class="recent-box">
                <% for(var i = 0; i < recent.length; i++){ %>
                    <a style="background-image: url(/images/<%=recent[i].route%>/<%= recent[i].name.toLowerCase()
                        .replaceAll(" ", "_")
                        .replaceAll(":", "")
                        .replaceAll("'", "")
                        .replaceAll("´", "")  %>.jpg);"
                    class="shadow click-anim"
                    href="/<%=recent[i].route%>/detail/<%=recent[i].id%>">
                        <div>
                        </div>
                    </a>
                <% } %>
            </div>

            <h2 class="up-titles">Recently Finished</h2>
            <div class="recent-box">
                <% for(var i = 0; i < finish.length; i++){ %>
                <a style="background-image: url(/images/<%=finish[i].route%>/<%= finish[i].name.toLowerCase()
                        .replaceAll(" ", "_")
                        .replaceAll(":", "")
                        .replaceAll("'", "")
                        .replaceAll("´", "")  %>.jpg);"
                   class="shadow click-anim"
                   href="/<%=finish[i].route%>/detail/<%=finish[i].id%>">
                    <div>
                    </div>
                </a>
                <% } %>
            </div>

            <div class="status-stats shadow">
                <div>
                    <h2>Open</h2>
                    <p><%= counts[1].count %></p>
                </div>
                <div>
                    <h2>Started</h2>
                    <p><%= counts[2].count %></p>
                </div>
                <div>
                    <h2>Finished</h2>
                    <p><%= counts[0].count %></p>
                </div>
                <div>
                    <h2>All</h2>
                    <p><%= counts[0].count+counts[2].count+counts[1].count %></p>
                </div>
                <div>
                    <h2>Status</h2>
                    <p>
                        <%= Math.floor(
                                (Math.abs(counts[0].count) /
                                        Math.abs(counts[0].count+counts[2].count+counts[1].count))
                                * 100)
                        %> %
                    </p>
                </div>
            </div>

            <!-- Backlog Lists -->
            <h2 class="up-titles">Lists</h2>

            <div class="list-grid">
                <a class="list-box-add click-anim" href="/createlist">
                    <div>
                        <img src="/images/icons/add.png">
                    </div>
                </a>

                <% for(var k = 0; k < listy.length; k++){ %>
                    <a class="list-box shadow click-anim" href="/list/<%= listy[k].id %>"
                        style="background-color: <%= listy[k].color%>">
                        <div><%= listy[k].name %></div>
                    </a>
                <% } %>
            </div>

        </div>
    </main>

    <div class="footer">
        <img src="/images/icons/orchid_heart_red.png" height="50px">
    </div>

  </body>
</html>
