<!DOCTYPE html>
<html>
<head>
    <title><%= media.name%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detail-style.css' />
    <link rel='stylesheet' href='/stylesheets/color-style.css' />
</head>

<body>
    <%if(route === 'book'){%>
    <div class="image"
         style="background-image: url(/images/<%=route%>/<%= media.name.toLowerCase()
                 .replaceAll(" ", "_")
                 .replaceAll(":", "")
                 .replaceAll("'", "")
                 .replaceAll("´", "")  %>.jpg);">
        <div class="tester"></div>
    </div>
    <%} else {%>
    <div class="image"
         style="background-image: url(/images/<%=route%>/header/<%= media.name.toLowerCase()
                 .replaceAll(" ", "_")
                 .replaceAll(":", "")
                 .replaceAll("'", "")
                 .replaceAll("´", "")  %>.jpg);
                 background-position: 0 <%=media.header_space%>%;">
        <div class="tester"></div>
    </div>
    <%}%>

    <a class="outer shadow click-anim" href="/<%= route%>">
        <img src="/images/icons/back_arrow.png" width="100%">
    </a>

    <div class="container">
        <div class="two-grid">
            <div>
                <h1><%= media.name%></h1>
                <div>
                    <% if( route === 'book'){%>
                        <h4>By <i><%= media.author%></i></h4>
                    <%}%>
                    <% if( route === 'movie'){%>
                        <h4>By <a href="/director/<%= media.director%>"><i><%= media.director%></i></a></h4>
                    <%}%>
                    <% if( route === 'game'){%>
                        <h4>By <i><%= media.developer%></i></h4>
                    <%}%>
                    <% if( route === 'series'){%>
                        <h4>By <i><%= media.idea%></i></h4>
                    <%}%>
                </div>
            </div>

            <div class="base">
                <%if((media.status != 'finished' &&  route === 'movie') || media.status === 'started' &&  route != 'movie'){%>
                    <div>
                        <a href="/<%= route%>/finish/<%= media.id%>" >
                            <div class="detail-button shadow click-anim">
                                <img src="/images/icons/finish.png" height="30px">
                            </div>
                        </a>
                    </div>
                <%}%>

                <%if(media.status === 'open' && route != 'movie'){%>
                <div>
                    <a href="/<%= route%>/start/<%= media.id%>" >
                        <div class="detail-button shadow click-anim">
                            <img src="/images/icons/start.png" height="30px">
                        </div>
                    </a>
                </div>
                <%}%>

                <div>
                    <a href="/<%=route%>/edit/<%= media.id%>">
                        <div class="detail-button shadow click-anim">
                            <img src="/images/icons/edit.png" height="30px">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <hr>
        <div class="two-grid">
            <div>
                <img class="cover shadow" height="500px" src="/images/<%= route%>/<%= media.name.toLowerCase()
                        .replaceAll(" ", "_")
                        .replaceAll(":", "")
                        .replaceAll("'", "")
                        .replaceAll("´", "")%>.jpg" alt="<%=media.name%>">
            </div>

            <div>
                <h1><%= media.year %>

                    <%if(route === 'series'){%>
                        <%if(media.year !== media.year_end){%>
                        - <%= media.year_end %>
                        <%}%>
                    <%}%>
                </h1>

                <span><b>Country:</b> <%= media.country %></span><br>
                <% if(route === 'movie') {%>
                    <span><b>Studio:</b> <%= media.studio %></span><br>
                    <span><b>Length:</b> <%= media.length %> Minutes</span>
                <%}%>
                <% if(route === 'series') {%>
                    <span><b>Studio:</b> <%= media.studio %></span>
                <%}%>
                <% if(route === 'game') {%>
                    <span><b>Publisher:</b> <%= media.publisher %></span>
                <%}%>
                <% if(route === 'book') {%>
                    <span><b>Length:</b> <%= media.length %></span><br>
                    <span><b>Publisher:</b> <%= media.publisher %></span><br>
                    <span><b>Illustrator:</b> <%= media.illustrator %></span>
                <%}%>

                <p style="margin-top:21px">
                    <% var tiles = media.genre.split(", "); for(var i = 0; i < tiles.length; i++) {%>
                    <span class="tag shadow"><%=tiles[i]%></span>
                    <%}%>
                </p>
            </div>
        </div>

        <hr>
        <div>
            <h3>Description</h3>
            <p><%= media.description%></p>
        </div>

        <% if((route === 'movie' || route === 'series') && media.cast) {%>
            <hr>
            <h3>Besetzung</h3>
            <div>
                <% var role = media.cast.split("\n") %>
                <div class="two-grid">
                    <div>
                        <ul>
                            <%for(var i=0; i<role.length; i++) {%>
                            <%if(i%2 === 0){%>
                                <% var actor = role[i].split(':')%>
                                <li class="cast-element">
                                    <a href="/search/<%=actor[0]%>"><b><%=actor[0]%></b></a>:<%=actor[1]%>
                                </li>
                            <%}%>
                            <%}%>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <%for(var i=0; i<role.length; i++) {%>
                            <%if(i%2 != 0){%>
                                <% var actor = role[i].split(':')%>
                                <li class="cast-element">
                                    <a href="/search/<%=actor[0]%>"><b><%=actor[0]%></b></a>:<%=actor[1]%>
                                </li>
                            <%}%>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        <%}%>

        <% if(route === 'series') {%>
            <hr>
            <div>
                <h3 class="topic-header">Episodes</h3>
                <div  class="episode-box">
                    <% var seasons = media.episodes.split(";")%>
                    <%for(var i = 0; i < seasons.length;i++){%>
                    <div class="season-box">
                        <h5 class="season-header">Staffel <%=(i+1)%></h5>
                        <hr>
                        <ol>
                            <% var episodes = seasons[i].split("\n")%>
                            <% for(var j = 0; j < episodes.length; j++) {%>
                            <li><%=episodes[j]%></li>
                            <%}%>
                        </ol>
                    </div>
                    <%}%>
                </div>
            </div>
        <%}%>

        <%if(media.status === 'finished') {%>
            <div>
                <hr>
                <h3>Review</h3>
                <p><%= finish.valuation%></p>
                <p class="rating"><%= finish.rating%>/10</p>
            </div>
        <%}%>
    </div>

    <div class="footer">
        <img src="/images/icons/orchid_heart_red.png" height="50px">
    </div>
</body>
</html>
