<!DOCTYPE html>
<html>
<head>
    <title><%= media.name%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detail-style.css' />
</head>

<body>
    <div class="image"
        style="background-image: url(/images/<%=route%>/header/<%= media.name.toLowerCase()
                .replaceAll(" ", "_")
                .replaceAll(":", "")
                .replaceAll("'", "")
                .replaceAll("´", "")  %>.jpg);">
        <div class="tester"></div>
    </div>

    <a class="outer" href="/<%= route%>">
        <img src="/images/icons/back_arrow.png" width="100%">
    </a>

    <div class="container">
        <div class="two-grid">
            <div>
                <h1><%= media.name%></h1>
                <div>
                    <% if( route === 'book'){%>
                        <h4>By <i><%= media.author%></i></h4>
                    <%}%>
                    <% if( route === 'movie'){%>
                        <h4>By <i><%= media.director%></i></h4>
                    <%}%>
                    <% if( route === 'game'){%>
                        <h4>By <i><%= media.developer%></i></h4>
                    <%}%>
                    <% if( route === 'series'){%>
                        <h4>By <i><%= media.idea%></i></h4>
                    <%}%>
                </div>
            </div>

            <div class="base">
                <div>
                    <a href="/<%= route%>/finish/<%= media.id%>" >
                        <div class="detail-button">
                            <img src="/images/icons/finish.png" height="30px">
                        </div>
                    </a>
                </div>

                <div>
                    <a href="/<%= route%>/start/<%= media.id%>" >
                        <div class="detail-button">
                            <img src="/images/icons/start.png" height="30px">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <hr>
        <div class="two-grid">
            <div>
                <img class="cover" height="500px" src="/images/<%= route%>/<%= media.name.toLowerCase()
                        .replaceAll(" ", "_")
                        .replaceAll(":", "")
                        .replaceAll("'", "")
                        .replaceAll("´", "")%>.jpg" alt="<%=media.name%>">
            </div>

            <div>
                <span><b>Year:</b> <%= media.year %></span>
                <% if(route === 'movie') {%>
                    <div style="padding-top: 10px">
                        <span><b>Country:</b> <%= media.country %></span>                                        <br>
                        <span><b>Length:</b> <%= media.length %> Minutes</span>
                    </div>
                <%}%>

                <p style="margin-top:21px">
                    <% var tiles = media.genre.split(", "); for(var i = 0; i < tiles.length; i++) {%>
                    <span class="tag"><%=tiles[i]%></span>
                    <%}%>
                </p>
            </div>
        </div>

        <hr>
        <div>
            <h3>Description</h3>
            <p><%= media.description%></p>
        </div>

        <% if(route === 'movie' || route === 'series') {%>
            <hr>
            <h3>Besetzung</h3>
            <div>
                <% var role = media.cast.split("\n") %>
                <div class="two-grid">
                    <div>
                        <ul>
                            <%for(var i=0; i<role.length; i++) {%>
                            <%if(i%2 === 0){%>
                                <% var actor = role[i].split(':')%>
                                <li><b><%=actor[0]%></b>:<%=actor[1]%></li>
                            <%}%>
                            <%}%>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <%for(var i=0; i<role.length; i++) {%>
                            <%if(i%2 != 0){%>
                                <% var actor = role[i].split(':')%>
                                <li><b><%=actor[0]%></b>:<%=actor[1]%></li>
                            <%}%>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        <%}%>

        <% if(route === 'series') {%>
            <hr>
            <div class="row episode-box">
                <h3 class="topic-header">Episodes</h3>
                <div>
                    <% var seasons = media.episodes.split(";")%>
                    <%for(var i = 0; i < seasons.length;i++){%>
                    <div class="col-lg-4 season-box" style="margin-top: 20px">
                        <h5 class="season-header">Staffel <%=(i+1)%></h5>
                        <hr>
                        <ol>
                            <% var episodes = seasons[i].split("\n")%>
                            <% for(var j = 0; j < episodes.length; j++) {%>
                            <li><%=episodes[j]%></li>
                            <%}%>
                        </ol>
                    </div>
                    <%}%>
                </div>
            </div>
        <%}%>
    </div>

    <div class="footer">
        <img src="/images/icons/orchid_heart_red.png" height="50px">
    </div>
</body>
</html>
