<!DOCTYPE html>
<html>
<head>
    <title><%= media.name%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detail-style.css' />
</head>

<body>
    <div class="image"
        style="background-image: url(/images/<%=route%>/header/<%= media.name.toLowerCase()
                .replaceAll(" ", "_")
                .replaceAll(":", "")
                .replaceAll("'", "")
                .replaceAll("´", "")  %>.jpg);">
        <div class="tester"></div>
    </div>

    <div class="container">
        <h1><%= media.name%></h1>
        <div>
            <% if( route === 'book'){%>
                <h4>By <i><%= media.author%></i></h4>
            <%}%>
            <% if( route === 'movie'){%>
                <h4>By <i><%= media.director%></i></h4>
            <%}%>
            <% if( route === 'game'){%>
                <h4>By <i><%= media.developer%></i></h4>
            <%}%>
            <% if( route === 'series'){%>
                <h4>By <i><%= media.idea%></i></h4>
            <%}%>
        </div>

        <hr>
        <div>
            <h3>Description</h3>
            <p><%= media.description%></p>
        </div>
    </div>
</body>
</html>
