<!DOCTYPE html>
<html>
<head>
    <title><%= media.name%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= media.name%></h1>
    <div>
        <% if( route === 'book'){%>
            <h4>By <i><%= media.author%></i></h4>
        <%}%>
        <% if( route === 'movie'){%>
            <h4>By <i><%= media.director%></i></h4>
        <%}%>
        <% if( route === 'game'){%>
            <h4>By <i><%= media.developer%></i></h4>
        <%}%>
        <% if( route === 'series'){%>
            <h4>By <i><%= media.idea%></i></h4>
        <%}%>
    </div>

    <hr>
    <div>
        <h3>Description</h3>
        <p><%= media.description%></p>
    </div>
</body>
</html>
