<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/listing-style.css' />
    <link rel='stylesheet' href='/stylesheets/color-style.css' />
</head>
<body>
    <a class="outer shadow click-anim"  href="/">
        <img src="/images/icons/back_arrow.png" width="100%">
    </a>

    <main>
        <div class="container">
            <h1><%= title%></h1>

            <div class="add-wrap">
                <a class="add-button shadow click-anim" href="<%= route%>/add">
                    <span>Add <%= title%></span>
                </a>
            </div>

            <%var open = 0; var started=0; var finished=0%>

            <div class="media-list">
                <h3>Open</h3>
                <% for(var i = 0; i < list.length; i++) {%>
                <%if(list[i].status === 'open') {%>
                    <a href="/<%= route%>/detail/<%= list[i].id%>">
                        <div class="media-item"><%= list[i].name%></div>
                    </a>
                    <% open += 1%>
                <%}%>
                <%}%>
            </div>

            <%if(route != 'movie') {%>
                <div class="media-list">
                    <h3>Started</h3>
                    <% for(var i = 0; i < list.length; i++) {%>
                    <%if(list[i].status === 'started') {%>
                        <a href="/<%= route%>/detail/<%= list[i].id%>">
                            <div class="media-item"><%= list[i].name%></div>
                        </a>
                        <% started += 1%>
                    <%}%>
                    <%}%>
                </div>
            <%}%>

            <div class="media-list">
                <h3>Finished</h3>
                <% for(var i = 0; i < list.length; i++) {%>
                <%if(list[i].status === 'finished') {%>
                    <a href="/<%= route%>/detail/<%= list[i].id%>">
                        <div class="media-item"><%= list[i].name%></div>
                    </a>
                    <% finished += 1%>
                <%}%>
                <%}%>
            </div>

            <div class="status-stats shadow">
                <div>
                    <h2>Open</h2>
                    <p><%= open%></p>
                </div>

                <%if(route !== "movie") {%>
                    <div>
                        <h2>Started</h2>
                        <p><%= started%></p>
                    </div>
                <%}%>

                <div>
                    <h2>Finished</h2>
                    <p><%= finished%></p>
                </div>

                <div>
                    <h2>All</h2>
                    <p><%= open+started+finished%></p>
                </div>
            </div>
        </div>
    </main>

    <div class="footer">
        <img src="/images/icons/orchid_heart_red.png" height="50px">
    </div>
</body>
</html>